analytics-python==1.4.0
backoff==1.10.0
certifi==2023.7.22
charset-normalizer==2.1.1
colorama==0.4.5
diagrams==0.22.0
distlib==0.3.6
filelock==3.8.0
graphviz==0.19.2
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.1
monotonic==1.6
Pillow==9.3.0
platformdirs==2.5.2
python-dateutil==2.8.2
PyYAML==6.0
requests==2.28.1
six==1.16.0
spectacles==2.3.0rc4
tabulate==0.9.0
typing_extensions==4.3.0
urllib3==1.26.12
virtualenv==20.16.5
